### Loops:
Loop is a programming construct that allows to execute same logic by repeating multiple no. of times

In [ ]:
# While Loop - It's an programming contruct which executes 
# the logic only till the given condition in TRUE.it terminates when the given condition turns out to be false

In [1]:
i = 0     # intializer
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [1]:
list2 = [1, 2, 3, 4, [10, 11, [13, 14, [20, 21, 22], 15], 12], 5, 6, 7]

for i in range(len(list2)):
    if isinstance(list2[i], list):
        for j in range(len(list2[i])):
            if isinstance(list2[i][j], list):
                for k in range(len(list2[i][j])):
                    if isinstance(list2[i][j][k], list):
                        for l in range(len(list2[i][j][k])):
                            print(f"list2[{i}][{j}][{k}][{l}] = {list2[i][j][k][l]}")
                    else:
                        print(f"list2[{i}][{j}][{k}] = {list2[i][j][k]}")
            else:
                print(f"list2[{i}][{j}] = {list2[i][j]}")
    else:
        print(f"list2[{i}] = {list2[i]}")

list2[0] = 1
list2[1] = 2
list2[2] = 3
list2[3] = 4
list2[4][0] = 10
list2[4][1] = 11
list2[4][2][0] = 13
list2[4][2][1] = 14
list2[4][2][2][0] = 20
list2[4][2][2][1] = 21
list2[4][2][2][2] = 22
list2[4][2][3] = 15
list2[4][3] = 12
list2[5] = 5
list2[6] = 6
list2[7] = 7

In [2]:
def iterate_list(lst, depth=0):
    for index, element in enumerate(lst):
        if isinstance(element, list):
            iterate_list(element, depth + 1)
        else:
            print(f"list2{''.join(['[' + str(idx) + ']' for idx in range(depth + 1)])} = {element}")

list2 = [1, 2, 3, 4, [10, 11, [13, 14, [20, 21, 22], 15], 12], 5, 6, 7]
iterate_list(list2)

list2[0] = 1
list2[0] = 2
list2[0] = 3
list2[0] = 4
list2[0][1] = 10
list2[0][1] = 11
list2[0][1][2] = 13
list2[0][1][2] = 14
list2[0][1][2][3] = 20
list2[0][1][2][3] = 21
list2[0][1][2][3] = 22
list2[0][1][2] = 15
list2[0][1] = 12
list2[0] = 5
list2[0] = 6
list2[0] = 7

In [5]:
def iterate_list(lst):
    for i in range(len(lst)):
        if isinstance(lst[i], list):
            iterate_list(lst[i])
        else:
            print(f"list2[{i}] = {lst[i]}")
            list2 = [1, 2, 3, 4, [10, 11, [13, 14, [20, 21, 22], 15], 12], 5, 6, 7]
iterate_list(list2)

list2[0] = 1
list2[1] = 2
list2[2] = 3
list2[3] = 4
list2[0] = 10
list2[1] = 11
list2[0] = 13
list2[1] = 14
list2[0] = 20
list2[1] = 21
list2[2] = 22
list2[3] = 15
list2[3] = 12
list2[5] = 5
list2[6] = 6
list2[7] = 7

In [5]:
i = 0
while(i<=5):
    print(i)
    i+=1    #  post increment   # isme zero se start krega

0
1
2
3
4
5

In [14]:
i = 0     # intializer
while(i<=5):
    i=i+1 # pre increment  # isme 1 se start krega
    print(i)

1
2
3
4
5
6

In [17]:
# lower to higher - increment
count =10
while count<=18:
    print(count)
    count+=1
else:
    print("nandini!")    # asc me plus

10
11
12
13
14
15
16
17
18
nandini!

In [27]:
# post function lgaa h isme 
count =100
while count>60:
    print(count)
    count-=2 ##### post function start se pickup krega   # desc me -

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62

In [1]:
# pre function lgaaaa h isme 
count =100
while count>60: 
    count-=2
    
    print(count)
#count-=2 ####### pre function start se pickup nhi kregaaaaa .

98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60

In [2]:
num = 15
while num <=35:
    if num%3==0:
        print(num,"division by 3")
    
    else:
        print(num,"not divisible by 3")
    num+=5

15 division by 3
20 not divisible by 3
25 not divisible by 3
30 division by 3
35 not divisible by 3

In [18]:

num =8
if num>0:
    print('num is positive')

else:
    print('num is negative')

num is positive

In [37]:
num=60
while num>=50:
    if num %2==0:
        print(num,"-is even")
    else:
        print(num,"- is odd")
    num-=1

60 -is even
59 - is odd
58 -is even
57 - is odd
56 -is even
55 - is odd
54 -is even
53 - is odd
52 -is even
51 - is odd
50 -is even

In [ ]:
# table banane ka tarika

In [40]:
#### table=int(input("enter the no"))
i=1
while i<=10:
    print(table,"*",i,"=",table*i)
    i+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [32]:
table = int(input("enter the no"))
i=1
while i<=10:
    print(table,"*",i,"=",table*i)
    i+=1

enter the no 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
table = int(input("enter the no"))
i=1
while

In [1]:
# For Loop - It's an iterative loop as it traverses/iterates to all the 
# elements in the sequence/collection & stops only after all the elements 
# in sequence are completed

In [41]:
l1=[2,4,6,7,8,6,11,12]
for x in l1:
    print(x*5)

10
20
30
35
40
30
55
60

In [38]:
l1 = [23,5,6,4,4,3,2]
for x in l1:
    
    print(x*5)

115
25
30
20
20
15
10

In [45]:
names =["eric","sree","sam","ravi","prashant","shyam"]
for i in names:
    print("hello!",i)

hello! eric
hello! sree
hello! sam
hello! ravi
hello! prashant
hello! shyam

In [44]:
for i in names:
    if "s" in i :
        print(i)

sree
sam
prashant
shyam

In [46]:
for z in names:
    if "i" in z:
        print(z)

eric
ravi

In [47]:
for x in names:
    if "i"not in x :
        print(x)

sree
sam
prashant
shyam

In [66]:
num = [45,78,9,4,5,6,7]
for i in num:
    print(i*2 ,end = "/")

90/156/18/8/10/12/14/

In [81]:
numbers = (45,56,78,8,5,4,3,5,6,6,5,5,4,43,4,5,5,5,6)

In [76]:
even =0
odd=0

for i in numbers:
    if i%2==0:
        even+=2
        print("Even",even)
    else:
        odd +=3
        print("Odd",odd)

Odd 3
Even 2
Even 4
Even 6
Odd 6
Even 8
Odd 9
Odd 12
Even 10
Even 12
Odd 15
Odd 18
Even 14
Odd 21
Even 16
Odd 24
Odd 27
Odd 30
Even 18

In [82]:
even =0
odd=0

for i in numbers:
    if i%2==0:
        even+=1
        #print("Even",even)
    else:
        odd +=1
       # print("Odd",odd)
print("there are ",even,"Even nos.in list")
print("there are ",odd,"Odd nos.in list")

there are  9 Even nos.in list
there are  10 Odd nos.in list

In [83]:
list1 = list(range(10))
print(list1)
list2 = list(range(4,10))
print(list2)
list3 = list(range(-9,10))
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]
[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
list9 = list(range(5,100))
print(list9)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [87]:
table = int(input("enter number:"))
for i in range (1,11):
    print(table,"*",i,"=",table*i)

enter number: 23

23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

### What are functions?
Functions are blocks of reusable code that perform a specific task or a set of tasks.Some code-logic we write which you can reuse it.

There are 2 types of functions:

Pre-defined functions
User-defined functions
key terminologies:
function def/logic - logic behind the creation of function.

function call - Calling / activating / using or running the function which is defined.

return - throw the value as output & it is catched by variable for further functions.

function should always be called by ()

1. Pre-defined functions : Pre-defined functions, also known as built-in functions, are functions that are already defined in the Python standard library and are available for direct use without the need for any additional package import. These functions provide a wide range of functionalities for common tasks in Python programming, and they are part of the core Python language.

Pre-defined functions are an essential part of Python programming and provide a convenient and efficient way to perform common tasks without having to implement them from scratch. They greatly enhance the productivity and versatility of Python as a programming language.

In [89]:
#print() is used for printing the output 
print("A")
num =34
print(num)

A
34

In [90]:
num

34

In [14]:
#type() checks the type of data
name = "prashant"
age= 24
print(type(name))
print(type(age))
subject = ['maths','english','hindi']
print(type(subject))
new = range(2,10)
print(type(new))

<class 'str'>
<class 'int'>
<class 'list'>
<class 'range'>

In [91]:
#input() is used to take input
name = input('enter your name:')
print(name)
print (type(name))

enter your name: nandini

nandini
<class 'str'>

In [118]:
#len()is used to calculate the length of characters or elements in collection

subject = ['maths', 'english', 'hindi']
len(subject)

3

In [112]:
len ('nandini')

7

In [127]:
#range () is used to create a range of values startinng from any whole number to an end number 
listt = list(range(11))
listt

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2. User- defined functions**  
User defined - functions which are created/customized by the user according to the necessary condition.

In [135]:
def square(x):
    s2 = x*x
    return(s2)

In [136]:
square (9)

81

In [3]:
def cube(x):
    s2 = x*x*x
    return(s2)

In [138]:
cube(9)

729

In [139]:
num=int(input("enter no,:"))
square(num)

enter no,: 35

1225

In [142]:
num=int(input("enter no,:"))
square(num)

enter no,: 25

625

In [146]:
def square2(x):
    s3 = x*x
    return(s3)

In [147]:
square2(5)

25

In [149]:
add = square2(num)+6
print(add)

31

In [5]:
side1,side2,side3 = int(input("side1: ")), int(input("side2: ")), int(input("side3: "))
def perimeter(a,b,c):
    per = a+b+c
    return per

side1: 5
side2: 6
side3: 4

In [6]:
perimeter(side1,side2,side3) #positional

15

In [7]:
perimeter (side1,side2,side3) #

15

In [8]:
perimeter (a=45,b=19,c=5)

69

In [9]:
side1,side2,side3 = int(input("side1: ")), int(input("side2: ")), int(input("side3: "))
def perimeter(a,b,c=15):
    per = a+b+c
    return per
    perimeter(side1,side2,side3)

side1: 5
side2: 4
side3: 6

In [10]:
perimeter (3,7,)

25

In [166]:
def evenodd (num):
    if num%2==0:
        print(num,"is even")
    else:
        print(num," is odd")

In [167]:
num=int(input())
evenodd(num)

 67

67  is odd

In [127]:
list2 = [7,5,7,7,7,8,9,9,9,7,6,5,4,3,2,5]

In [132]:
def div3(l1):
    count=0
    for i in l1:
        if i%3==0:
            count+=1
    return count

In [134]:
div3(list2)

5

In [144]:
def div3(l1):
    count=0
    new=[]
    for i in l1:
        if i%3==0:
            new.append(i)
            count+=1
            return count

In [145]:
div3(list2)

1

In [148]:
def hi():
    num=23
    name = "prashant"
    new = str(num)
    return name +" "+ new

In [149]:
hi()

'prashant 23'

In [167]:
a=90

In [168]:
def evenoddno():
    if a%2==0:
        print(a,"- is even")
    else:
        print(a,"- is odd:")

In [169]:
evenoddno()

90 - is even

In [4]:
#### Lambda functions ::

In [168]:
def addition(a,b,c):
    add =a+b+c
    return add

In [170]:
addition(3,4,0)

7

In [171]:
add = lambda a,b,c : a+b+c
print(add)

<function <lambda> at 0x00000243BFCDE520>

In [173]:
add(4,8,1)

13

In [174]:
sub = lambda x:x-5

In [175]:
sub(10)

5

In [182]:
sqr = lambda x:x**2  # ** = square root

In [183]:
sqr(10)

100

In [24]:
sqr = lambda x:x*2   # multiply

In [25]:
sqr(100)

200

In [26]:
# range

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [184]:
list(range(2,25,3,))

[2, 5, 8, 11, 14, 17, 20, 23]

In [189]:
print(list(range(2,25,)))    #### Print ke sath horizontal jayega ,,,,without print verticle me

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [ ]:
if(number>=0)

# END